.idea/
__pycache__/
*.pyc
.venv/
*.log

Thunar/.config/Thunar/accels.scm
wallpaper/.config/systemd/user/timers.target.wants/

kitty/.config/kitty/colors-matugen.conf
matugen/.config/gtk-3.0/
matugen/.config/gtk-4.0/