[submodule "albert/.local/share/albert/python/plugins/albert-plugin-firefox"]
	path = albert/.local/share/albert/python/plugins/albert-plugin-firefox
	url = https://github.com/jgoedde/albert-plugin-firefox
